*{
    color:lightslategrey;
}

body {
  background-color: ghostwhite;
  margin: 0;
  padding: 0;
}

.header{
text-align: center;
  height: 100px;
  
}

#header-text{
  font-family: 'Montserrat',sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 40px;;
  width: 60%;
}

.main{
    
    font-family: 'Montserrat,sans-serif';
    text-align: center;
    height: 100px;
    
}

.links{
    
   text-align: center;
    text-decoration: ;
   height: 50px;
    font-size: 12px;
    
}
div a{
    display: inline-block;
    text-decoration: none;
    padding-right: 40px;
    background: ;
}

.copyright{
    text-align: center;
    font-size: 10px;
}
