*{
    color:lightslategrey;
}

body {
  background-color: ghostwhite;
  margin: 5%;
  padding: 5%;
    font-size: 16px;
}

.header{
text-align: center;
  height: 100%;
}

#header-text{
  font-family: 'Montserrat',sans-serif;
    font-size: 110%;
  text-transform: uppercase;
  
  
  text-align: center;
  top: 50%;
  
}

.main{
    
    font-family: 'Montserrat,sans-serif';
    font-size: 100%;
    text-align: center;
 
    
    
}

.links{
    
   text-align: center;
    text-decoration: ;
   height: 50%;
    font-size: 80%;
    padding-left: 5%;
    
}
div a{
    display: inline-block;
    text-decoration: none;
    padding-right: 5%;
 
}

.copyright{
    text-align: center;
    font-size: 50%;
}
