*{
    color:lightslategrey;
}

body {
  background-color: ghostwhite;
  margin: 0;
  padding: 0;
}

.header{
text-align: center;
  height: 100%;
  
}

#header-text{
  font-family: 'Montserrat',sans-serif;
    font-size: 120%;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 40%;
  width: 80%;
}

.main{
    
    font-family: 'Montserrat,sans-serif';
    font-size: 150%;
    text-align: center;
    height: 100%;
    
}

.links{
    
   text-align: center;
    text-decoration: ;
   height: 50%;
    font-size: 80%;
    
}
div a{
    display: inline-block;
    text-decoration: none;
    padding-right: 5%;
 
}

.copyright{
    text-align: center;
    font-size: 50%;
}
